.card {
  border: 1px solid #439a97;
  background-color: #97deced1;
  width: 800px;
  margin: 50px auto;

  border-radius: 30px;
  box-shadow: 2px 7px 30px #97dece;
}

@media (width < 500px) {
  .card {
    width: 90%;
    margin: 30px auto;
  }
}
