.full-mortgage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 15px auto;
}

.input-box-full-mortgage {
  padding: 10px;
  margin: 10px 30px;
}

.input-label {
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
}

.full-mortgage-input {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #97dece;
  width: 250px;
}

.full-mortgage-input:hover {
  border: 2px solid #62b6b7;
}

.full-mortgage-input:focus {
  outline: none;
  border: 2px solid #2b6967;
}

@media (width < 500px) {
  .full-mortgage-container {
    flex-direction: column;
  }
  .input-label {
    margin: 15px;
    font-size: 16px;
    font-weight: 600;
  }
  .input-box-full-mortgage {
    display: flex;
    flex-direction: column;
  }
  .full-mortgage-input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #97dece;
    width: 175px;
  }
}
