.type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 30px auto;
}

.radio-btn {
  margin: 10px;
  text-align: center;
  float: right;
  accent-color: #1c315e;
}

.radio-btn-label {
  font-size: 18px;
  font-weight: 500;
}

@media (width < 500px) {
  .type {
    flex-direction: column;
  }
  .radio-btn-label {
    font-size: 16px;
    font-weight: 500;
  }
}
